/* This is a test of styles for SurtiDotaciones */

/*Se importa una fuente del sitio Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato');

/* Define the tipography*/
.h1, .h2, .h3, .h4, .a, input, h1, h2, h3, h4, a {
	font-family: "Lato", Helvetica, Verdana, sans-serif;
	color: #a9a9a9;
}

p {
	font-family: "Lato", Helvetica, Verdana, sans-serif;
	color: #838383;
}

/* Delete the border on navbar */
.navbar{
    border-radius: 0px;
}

.navbar.navbar-default .nav-collapse {
	background-color: #f8f8f8; 
}


/*Make the placeholder italic*/
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

/* Proof of navbar */
.mynavbar {
  font-family: 'Lato', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.mynavbar * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.mynavbar li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  padding: 0;
}
.mynavbar a {
  padding: 0.5em 0.8em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}
.mynavbar a:before,
.mynavbar a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.mynavbar a:before {
  right: 0;
  top: 0;
  border-right: 3px solid #1abc9c;
  border-top: 3px solid #1abc9c;
  -webkit-transform: translate(-100%, 50%);
  transform: translate(-100%, 50%);
}
.mynavbar a:after {
  left: 0;
  bottom: 0;
  border-left: 3px solid #1abc9c;
  border-bottom: 3px solid #1abc9c;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
}
.mynavbar a:hover,
.mynavbar .current a {
  color: #ffffff;
}
.mynavbar a:hover:before,
.mynavbar .current a:before,
.mynavbar a:hover:after,
.mynavbar .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

/*Search Style */
.btn-default:hover {
    color: #fff;
    background-color: #1abc9c;
    border-color: #ccc;
}

/* Navbar */
.navbar{
	padding: 10px;
	padding-left: 50px;
    padding-right: 50px;

}

.navbar-inverse {
    background-color: #334d66;
}

.navbar-default {
    background-color: #cddae6;
    border-color: #9ab4cd;
}

/* Search */
.search {
	padding-top: 15px;
    padding-bottom: 15px;
}

/* Footer */
.footer {
	background-color: #dee6ef;
}

/* Brand image */
.mybrand > img {

}